:root{
--kleur1: rgb(2, 59, 182);
--grijs: rgb(170,170,170);
--text: rgb(50,50,50);
--grijshover: rgb(110,110,110)
}

*, body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 15px;
margin: 0;
padding: 0;
text-align: center;
color: var(--grijs);
}
#position{
    height: 25vw;
}
#logo{
    width: 60vw; 
    margin: 0 auto;
    padding: 0.8vw 25vw;
position: fixed;
left: 0;
z-index: 2;
background-color: white;
border-bottom: 0.5vw solid var(--kleur1);
}

#logo:hover{
    cursor: pointer;
}
nav ul{
list-style-type: none;   
display: none;
background-color: var(--kleur1);
padding: 0.8vw;
}
nav{
    position: fixed;
    top: 25vw;
    width: 100%;
    z-index: 2;
}
nav ul li{
    margin: 1.3vw auto;

}
nav ul li >a{
    font-weight: 900;
font-size: 2.5vw;
    text-decoration: none;
}
li:hover{
    cursor: pointer;
    transform: scale(1.5);
    text-shadow: 0 0.3vw 0.3px var(--grijshover);
}

/*Contact*/
#contactpoint{
    height: 20vw;
}
#contact{
color: var(--text);
    margin: 13vw 2vw 5vw 2vw;
}
#contact h3{
    font-size: 2.2vw;
    margin: 0;
    color: var(--text);
}
.googleMap{
    height: 60vh;
    width: 80vw;
    margin: 0 auto;
}
main{

    margin-top: 15vw;
    width: 100%;
}
/*index*/
.home{
 
    margin-top: 1.8vw; 

}
#tandwiel{
    width: 95%;
    opacity: 60%;
}
/* #naam{
    width: 50%;
    position: absolute;
    top: 30%;
    right: 0;
    z-index: 1;
} */
 #projectspoint{
height: 20vw;
 }
 h2{
    font-size: 3rem;
    color: var(--text);
 }
.projecten{
  width: 80%;
  margin: 4.2vw auto;
  display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-evenly;
}
.project{
    width: 680px;  
    border: 3px solid var(--kleur1);
    margin: 0.8vw;
    padding: 12px;
}
.project h2, p{
       font-size: 2.2vw;
       color: var(--text);
}